<section class="mt-5">
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table table-pin-cols">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Icono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (country of countries(); track country.cca2; let index = $index) {
          <!-- row 1 -->
          <tr>
            <th>{{ index + 1}}</th>
            <td>{{ country.flag }}</td>
            <td><img class="w-10" [src]="country.flags.svg" [alt]="country.name.common"></td>
            <td>{{ country.name.common }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.population }}</td>
            <td>
              <a class="link-primary" href="#">Ver detalles ></a>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
</section>
